projects/project-03/.ipynb_checkpoints/3.3-Data-Workflow-Lab-1-starter-Copy1-checkpoint.ipynb
projects/project-03/.ipynb_checkpoints/project-3up-checkpoint.ipynb
projects/project-03/3.3-Data-Workflow-Lab-1-starter-Copy1.ipynb
projects/project-03/project-3up.ipynb
week-03/3.3-lab/code/starter-code/.ipynb_checkpoints/3.3-Data-Workflow-Lab-1-starter-Copy1-checkpoint.ipynb
week-03/3.3-lab/code/starter-code/3.3-Data-Workflow-Lab-1-starter-Copy1.ipynb
*.csv

